<html>
<head>
    <meta charset="utf-8" />
    <title>Firebase example</title>    
</head>
<body>
    <form action="/login-auth" method="POST">
        <input type="text" name="username" id="username" placeholder="User Name">
        <input type="text" name="password" id="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
</body>

</html>